extends layout

block content

	.container.my-5
		.row
			.col-md-12.col-lg-4.my-1
				include profile_sidebar
			.col-md-12.col-lg-8.my-1
			
				include profile_navbar
					
				.container.my-3
					div(class="card border-primary mb-3")
						div(class="card-header") CFOP
						div(class="card-body")
							div(class="row row-cols-1 row-cols-md-2 g-4")
								div(class="col")
									.container.d-flex.border.rounded.bg-light
										div.d-flex.align-items-center
											img(src="/images/collection/oll.png" class="object-fit" alt="" width="100" height="100")
										div.p-3.d-flex.flex-column.justify-content-center.w-100.text-center
											h5 OLL
											p.fs-6 Orientation of Last Layer
											p Algorithm set #{learnedOLL}/#{setOLL.length}
											.progress.my-1
												.progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar" style=`width:${(learnedOLL / setOLL.length) * 100}%` aria-valuenow=`${(learnedOLL / setOLL.length) * 100}` aria-valuemin="0" aria-valuemax="100") #{((learnedOLL / setOLL.length) * 100).toFixed(1)}%
											a(class="btn btn-light my-1" href="/profile/"+userSession.id+"/oll" role="button") View
											
								div(class="col")
									.container.d-flex.border.rounded.bg-light
										div.d-flex.align-items-center
											img(src="/images/collection/pll.png" class="object-fit" alt="" width="100" height="100")
										div.p-3.d-flex.flex-column.justify-content-center.w-100.text-center
											h5 PLL
											p.fs-6 Permutation of Last Layer
											p Algorithm set #{learnedPLL}/#{setPLL.length}
											.progress.my-1
												.progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar" style=`width:${(learnedPLL / setPLL.length) * 100}%` aria-valuenow=`${(learnedPLL / setPLL.length) * 100}` aria-valuemin="0" aria-valuemax="100") #{((learnedPLL / setPLL.length) * 100).toFixed(1)}%
											a(class="btn btn-light my-1" href="/profile/"+userSession.id+"/pll" role="button") View
											
					div(class="card border-primary mb-3")
						div(class="card-header") ROUX
						div(class="card-body")
							div(class="row row-cols-1 row-cols-md-2 g-4")
											
								div(class="col")
									.container.d-flex.border.rounded.bg-light
										div.d-flex.align-items-center
											img(src="/images/collection/coll.png" class="object-fit" alt="" width="100" height="100")
										div.p-3.d-flex.flex-column.justify-content-center.w-100.text-center
											h5 COLL
											p.fs-6 Corners and Orientation of Last Layer
											p Algorithm set #{learnedCOLL}/#{setCOLL.length}
											.progress.my-1
												.progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar" style=`width:${(learnedCOLL / setCOLL.length) * 100}%` aria-valuenow=`${(learnedCOLL / setCOLL.length) * 100}` aria-valuemin="0" aria-valuemax="100") #{((learnedCOLL / setCOLL.length) * 100).toFixed(1)}%
											a(class="btn btn-light my-1" href="/profile/"+userSession.id+"/coll" role="button") View
											
								div(class="col")
									.container.d-flex.border.rounded.bg-light
										div.d-flex.align-items-center
											img(src="/images/collection/cmll.png" class="object-fit" alt="" width="100" height="100")
										div.p-3.d-flex.flex-column.justify-content-center.w-100.text-center
											h5 CMLL
											p.fs-6 Corners Last Layer
											p Algorithm set #{learnedCMLL}/#{setCMLL.length}
											.progress.my-1
												.progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar" style=`width:${(learnedCMLL / setCMLL.length) * 100}%` aria-valuenow=`${(learnedCMLL / setCMLL.length) * 100}` aria-valuemin="0" aria-valuemax="100") #{((learnedCMLL / setCMLL.length) * 100).toFixed(1)}%
											a(class="btn btn-light my-1" href="/profile/"+userSession.id+"/cmll" role="button") View
