p.fs-1.text-center #{user.name}
img(src=user.profile_img class="my-3 object-fit rounded-circle mx-auto d-block" alt="user profile photo" width="296" height="296")
.card
	.card-body
		ul.list-group.list-group-flush
			li.list-group-item.d-flex.justify-content-between
				span Featured:
				span #{user.role}
			li.list-group-item.d-flex.justify-content-between
				span Nationality:
				span #{user.nationality}
			li.list-group-item.d-flex.justify-content-between
				span Total solves all cubes:
				span #{user.totalSolves.length}
			li.list-group-item.d-flex.justify-content-between
				span Prefered category:
				span #{user.preferedCategory}
			li.list-group-item.d-flex.justify-content-between
				span Total solves prefered cube:
				span #{user.totalSolvesPreferedCube.length}
			li.list-group-item.d-flex.justify-content-between
				span Solve ratio:
				span #{user.solveRatio}
			li.list-group-item.d-flex.justify-content-between
				span Most used brand:
				span #{user.mostUsedBrand}
			li.list-group-item.d-flex.justify-content-between
				span Prefered cube:
				span #{user.preferedCube}
			li.list-group-item.d-flex.justify-content-between
				span Cubes owned:
				span #{user.cubesOwned}
a(class="btn btn-secondary w-100 d-block my-1" href="/profile/"+userSession.id+"/settings" role="button") Edit