extends layout

block content
	
	.container.my-5
		h1 #{user.name} #{set.name} (#{algs.length})
		hr
		form.row.row-cols-1.row-cols-lg-4.row-cols-md-3.row-cols-sm-2.g-4(action="/submit/"+user._id+"/oll" method="post")
			input(type="hidden" name="_csrf" value=csrfToken)
			for element in algs
				.col.d-flex.flex-column.justifiy-content-center.align-items-center
					input(type="checkbox" class="btn-check" id=element.name name=element.name checked=element.learnStatus==='on' autocomplete="off")
					label(class="btn btn-outline-primary w-100" for=element.name) #{element.alg}
						img.d-block.mx-auto(src=element.thumbnail class="img-fluid")
					
			button(type="submit" class="btn btn-warning w-100") Update
